Day-08/AI_Form_Submission_Workflow.json.json
{
  "name": "form submission",
  "nodes": [
    {
      "parameters": {
        "formTitle": "QA Submission ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Question"
            },
            {
              "fieldLabel": "Answer",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "31bf2760-be7b-450e-97a9-4c6d28eb71ef",
      "name": "On form submission",
      "webhookId": "1f717f83-1b4e-4245-a620-bdf4b761c7b7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fe4fe452-e5c9-44b9-bde9-bb1ce2c778b0",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "gmail.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "ea8d7059-c78c-44fa-a251-f68ec281ca17",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9706391f-486c-455a-8ec5-9046e6bd8256",
              "name": "isTrusted",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -128
      ],
      "id": "4a2856ce-5b77-41dd-aba6-6e35465d88f9",
      "name": "isTrusted:true"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9706391f-486c-455a-8ec5-9046e6bd8256",
              "name": "isTrusted",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        32
      ],
      "id": "1dbab298-8e2d-472b-bb6d-a5795b0076e4",
      "name": "isTrsuted:false"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        656,
        -64
      ],
      "id": "892af90a-4724-41ba-af39-5ecbf1ec2287",
      "name": "ref"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following questions and answers, and output relevant tags\n\nOuestion:{{ $json.Question }}\nAnswer:{{ $json.Answer }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a content tagging expert. Your task is to analyze Question and Answer submissions and generate relevant, descriptive tags that categorize the content based on topic, key concepts, and technical terms. Always provide 4-8 tags as a comma-separated list. Keep tags short and focused in individual length.\n\nExample Output:\npartner, partnerships, agency, external contractors, lead referral"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        864,
        -64
      ],
      "id": "3f286b9e-7a12-47fa-bdb4-b7f9f902fd61",
      "name": "Add tags"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        800,
        144
      ],
      "id": "f5b70020-0f32-4040-ad74-9bd548606379",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BAbYPWjn6xyt5vXq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "ZJWMqGZVYTrG0DdD",
          "mode": "list",
          "cachedResultName": "q&a",
          "cachedResultUrl": "/projects/08mADQPWDBHUw9vK/datatables/ZJWMqGZVYTrG0DdD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isTrusted": "={{ $('isTrusted:true').item.json.isTrusted }}",
            "Tag": "={{ $json.text }}",
            "Name": "={{ $('On form submission').item.json.Name }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Question": "={{ $('On form submission').item.json.Question }}",
            "Answer": "={{ $('On form submission').item.json.Answer }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tag",
              "displayName": "Tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isTrusted",
              "displayName": "isTrusted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1216,
        -64
      ],
      "id": "880f2f90-862b-43f4-b505-e15024a7d402",
      "name": "Insert row"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "isTrusted:true",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "isTrsuted:false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrusted:true": {
      "main": [
        [
          {
            "node": "ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrsuted:false": {
      "main": [
        [
          {
            "node": "ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ref": {
      "main": [
        [
          {
            "node": "Add tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Add tags",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add tags": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9d4c5ab8-3ed3-450c-a0d0-28d4e41c2f4a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "962b2ca7dd39f7473e3b815e0db1ef7af626f47cc77ccf9f2a685ec647fdb263"
  },
  "nodeGroups": [],
  "id": "oz9Fuf2g6frC9bTk",
  "tags": []
}